* {
    font-family: neuzeit-grotesk;
}
body {
    overflow: hidden;
}
#product {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}
#product .image {
    width: 250px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
}
#product .image:hover {
    transform: scale(1.1); /* Increased scale on hover */
}

#product .id {
    color: rgb(148, 148, 133);
    margin: 0;
    size: 14px;
}
#product .name {
    color: black;
    margin: 0;
    font-size: 22px;

}
#product .price {
    color: rgb(148, 148, 133);
    size: 12px;
}
.icon {
    position: absolute;
    top: 5px; 
    right: 5px;
    font-size: 24px; 
    color: #555;
    height: 50px;
    width: 50px;
}