#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#products iframe {
    border: 1px solid #ddd;
    margin: 10px;
    height: 320px;
    width: 280px; 
    align-items: center;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: border 0.8s ease-in-out;
}
#products iframe:hover {
    border: #81b1e8 1.5px solid;
}
.product {
    position: relative;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    transition: trans;
}

.product .image {
    width: 250px;
    height: 200px;
    transition: transform 0.8s ease-in-out;
}
.product .image:hover {
    transform: scale(1.1); /* Increased scale on hover */
}

.product .id {
    color: rgb(148, 148, 133);
    margin: 0;
    size: 14px;
}
.product .name {
    color: black;
    margin: 0;
    font-size: 22px;

}
.product .price {
    color: rgb(148, 148, 133);
    size: 12px;
}
.product .icon {
    position: absolute;
    top: 5px; 
    right: 5px;
    font-size: 24px; 
    color: #555;
    height: 50px;
    width: 50px;
}
#switchPage {
    display: flex;
    justify-content: center;
}
#switchPage span {
    cursor: pointer;
    margin: 10px;
    border: #555 1px solid;
    padding: 5px;
}
