* {
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
}
#main {
    display: flex;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
#path {
    width: 100%;
    height: 38px;
}
#title {
    padding-top: 5px;
    color: #2c85da;
    text-align: center;
    font-size: 28px;
}
#signature {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-self: center;
    padding: 20px;
}
#signature div{ 
    flex-direction: row;
    display: flex;
    justify-content: center;
    color: #2c85da;
}

#signature .item {
    border: 1px black solid;
    padding: 15px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    flex-direction: column;
}
#signature img {
    height: 50px;
    width: 50px;
}
#signature div {
    font-size: 17px;
}

#filter {
    width: 280px;
}
#filter div {
    margin-bottom: 15px;
}
#filter-header {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#filter-header div {
    font-size: 20px;
    font-family: cursive;
}
#delete-btn {
    height: 20px;
    width: 50px;
    transition: color 0.8s ease-in-out, transform 0.8s ease-in-out,
    background-color 0.8s ease-in-out ;
}
#delete-btn:hover {
    color: #2c85da;
    background-color: black;
    transform: scale(1.1);
}

.option-filter {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 17px;
    margin-right: 17px;
    padding-top: 20px;
    border-bottom: none;
}

.value-filter {
    display: none;
    flex-direction: column;
}
label {
    padding-left: 40px;
    padding-top: 15px;
    font-size: 16px;
    justify-content: center;
}
label input {
    margin-right: 15px;
}
.btn {
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.btn h3 {
    font-size: 18px;
}
.btn .icon-menu {
    height: 15px;
    width: 15px;
    transform: rotate(-90deg);
}
#myRange {
    width: 200px;
    align-self: center;
}
#result {
    padding-left: 20px;
    color: rgb(144, 144, 21);
}
#product-detail {
    position: fixed;
    display: none;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

