#order {
    font-family: "Dosis", sans-serif;
    width: 95%;
    margin: 0 auto;
    height: 90vh;;
}
#order ,header h2 i {
    margin-bottom: 2vh;
    margin-top: 0;
}
#order .button_placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
}
#order .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    align-items: center;
    column-gap: 10px;
}
#order .new-button{
    padding: 5px 10px;
    flex-direction: row;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8ddad3;
    border-radius: 10px;
    cursor: pointer;
    
}
#order .new-button:active{
    transform: translateY(3px);
    transition: 0.1s;
}
.icon-placeholder{
    margin-right: 10px;
}
#order .title-list{
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(12px + 0.5vw);
    background-color: white;
    border-radius: 20px 20px 0 0;
    color : #8ddad3;
    border-bottom: 3px solid;
    text-align: center;
}
#order .title-list .title-placeholder{
    width: 97%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 0.5fr;
    justify-content: center;
    margin: auto;
}
#order .title-list .button_placeholder.title{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}
#order .list{
    max-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 0.5vw);
    background-color: white;
    height: 84.5vh;
    overflow-y: scroll;
}
#order .placeholder{
    width: 98%;
    margin: 0 1%;
    color: black;
    position: relative;
    padding: 13px 0;
    border-bottom: 2px solid #8ddad3 ;
}
#order .placeholder .info{
    display: grid;
    margin: auto;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 0.5fr;
    justify-content: center;
}
#order .placeholder .info .item{
    display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-right: #8ddad3 solid 2px;
  height: 100%;
  width: 100%;
  padding: 0% 5%;
  margin: auto;
  overflow: hidden;
}
#order .placeholder .info .item:last-child{
    border: none;
    cursor: pointer;
}
