* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  header {
    width: 13%;
    min-width: 80px;
    background-color: white;
    height: 100vh;
    position: fixed;
    z-index: 1;
  }
  
  main {
    width: 87%;
    float: right;
    min-height: 100vh;
    background-image: url('../../../images/background.png');
    
    background-size:100% 100%;
  }
  
 
  #content {
    padding-top: 3vh;
    padding-left: 2vw;
    color: white;
    font-family: "Dosis", sans-serif;
  }
  
  @media screen and (max-width: 768px) {
    #content {
      padding-left: 0;
    }
  }