@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
}

#contact {
    display: flex;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
}

#information {
    width: 50%;
    height: 300px;
    margin-right: 10px;
    background: rgba(238, 238, 238, 1);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-right: 10%;
}

#information span:nth-child(1) {
    color: red;
    transition: all 0.8s ease;
}

#information span:nth-child(1):hover {
    color: #8ddad3;
}

#information span:nth-child(2) {
    font-size: 13px;
    color: rgba(139, 145, 152, 1);
}

#information img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.section {
    display: flex;
    border-bottom: rgba(221, 221, 221, 1) 1px solid;
    height: 80px;
    align-items: center;
    padding-left: 45px;
    cursor: pointer;
}

.section div {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}


.header {
    border-bottom: 0.0625rem solid #efefef;
    padding: 1.125rem 0;
    margin: 40px;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.525rem;
}

.title-under {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.form-account {
    width: 500px;
    margin: 0 auto;
}

.form-account form {
    display: flex;
    flex-direction: column;
}

.form-account label {
    margin-bottom: 5px;
}

.header-image {
    height: 6.25rem;
    margin: 1.25rem 0;
    position: relative;
    width: 6.25rem;

}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

#image-input {
    display: none;
}

.url-image {
    border-radius: 60%;
}

.url-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-image: url('../../images/login.png');
}

input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    text-align: start !important;
    padding: initial;
    border: initial;
    white-space: pre;
    overflow: hidden !important;
}

.form-account input[type="text"],
.form-account input[type="password"],
.form-account input[type="email"],
.form-account input[type="tel"],
.form-account textarea,
.form-account button[type="submit"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
}

.form-account textarea {
    resize: vertical;
}

.form-account input[type="file"] {
    margin-bottom: 15px;
}


.form-account label[for="image"] {
    display: block;
    margin-bottom: 5px;

}

.gender{
    margin-bottom: 10px;
}

.title-credits {
    text-align: center;
    margin: 10px;
    color: #999;
    font-size: .875rem;
    line-height: 1.25rem;
}

button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color:  #4FD1C5;;
    color: #ffffff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

button:hover {
    background-color:  #38aea2;;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(0.98);
}

button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.88);
}
.line-left{
    border-left: .0625rem solid #efefef;
    overflow: hidden;
    width: 17.5rem;
    width: 10%;
}
.line-right{
    border-right: .0625rem solid #efefef;
    overflow: hidden;
    width: 10%;
}

@media only screen and (max-width: 600px) {
    .header {
        text-align: center;
    }

    .header .title {
        font-size: 24px;
    }

    .header .title-under {
        font-size: 14px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact .form-account {
        width: 100%;
    }

    #contact .image {
        margin-top: 20px;
        text-align: center;
    }

    #contact .image .url-image {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
    }
}