* {
    font-family: neuzeit-grotesk;
    margin: 0;
}
#main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#poster {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #eeeded;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#image-slider {
    display: flex;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
#image-select {
    height: 480px;
    width: 100%;
    position: absolute;
    display: none;
}
.poster-main {
    width: 100%;
    animation-name: imageMain;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.poster-next {
    width: 0%;
    animation-name: imageNext;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#poster .image-main {
    height: 100%;
    width: 100%;
    
}
@keyframes imageMain {
    0%   {width: 100%; right:0px; top:0px;}
    100%  {width: 0%; right:200px; top:0px;}
}
#poster .image-next {
    height: 100%;
    width: 100%;
}

@keyframes imageNext {
    0%   {width: 0%; right:0px; top:0px;}
    100%  {width: 100%; right:200px; top:0px;}
}
.images {
    position: absolute;
    bottom: 120px;
    right: 50px;
}
#poster .images img {
    height: 120px;
    width: 190px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#topic {
    background-color: white;
}
#slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
}
.slider-item {
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: all 0.3s ease-in-out;
    background-color: white;
    
}

.slider-item div {
    font-size: 19px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.selected div {
    border-bottom-color: red;
}
#products {
    padding-bottom: 45px;
}
#signature {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-self: center;
    padding: 20px;
    overflow: hidden;
}
#signature div{ 
    flex-direction: row;
    display: flex;
    justify-content: center;
    color: #2c85da;
}
#signature h2 {
    align-self: center;
    color: white;
}

#signature .item {
    border: 1px black solid;
    padding: 15px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    flex-direction: column;

}
#signature img {
    height: 50px;
    width: 50px;
}
#signature div {
    font-size: 17px;
}
#service-intro {
    background-color:#eeeded;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#service-intro h2 {
    font-size: 32px;
    font-family: cursive;
    margin-bottom: 5px;
}
#service-intro div {
    font-size: 22px;
}
#service-intro img {
    height: 350px;
    width: 400px;
}
#service-intro.fade-in {
    opacity: 1;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px;
}
#contact h2 {
    font-size: 32px;

}
#contact div {
    font-size: 22px;
    text-align: center;
    padding: 5px;

}
#contact input {
    height: 40px;
    width: 43px;
    border-radius: 7px;
    border-width: 0px;
    font-size: 20px;
}
#contact  #emailBtn {
    background-color: black;
    color: white;
}
#contact  #emailValue{
    height: 38px;
    width: 350px;
}

  