body {
    overflow: hidden;
}
#homeScreen {
    display: flex;
    flex-direction: column;
}


#header {
    width: "100%";
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px black solid;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h2{
    color: #009999;
}
#header .navigation{
    display: flex;
    
}
#header .navigation a{
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer; 
    padding: 5px;
    border-radius: 4px;
}
#header .hover:hover {
    background-color: #e6f3ff;
}
#header .navigation div {
    visibility:collapse;
    display: flex;
    margin-right: 18px;
    align-items: center;
}
#header .navigation div img{
    margin-right: 10px;
    height: 20px;
}
#header .navigation input {
    border-color: #2c85da;
}
#header .navigation input :focus{
    border-color: #2c85da;
}
#header .navigation img {
    margin-right: 20px;
    height: 25px;
    cursor: pointer;
}

#poster div {
    display: flex;
    height: 60%;
}