* {
    font-family: neuzeit-grotesk;
    margin: 0;
}
#homeScreen {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#poster {
    display: flex;
    width: 96%;
    justify-content: space-between;
    padding: 2%;
    background-color: #eeeded;
}

#poster img {
    width: 83%;
    height: 480px;
    border-radius: 10px;
}
#poster .images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#poster .images img {
    height: 150px;
    width: 220px;
    cursor: pointer;
}
#topic {
    background-color: white;
}
#slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 20%;
}
.slider-item {
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: all 0.3s ease-in-out;
    background-color: white;
    
}

.slider-item div {
    font-size: 19px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.selected div {
    border-bottom-color: red;
}

#product {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: white;
}
#product {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#product.fade-in {
    opacity: 1;
}

#product iframe {
    border: 1px solid #ddd;
    margin: 10px;
    height: 350px;
    width: 300px; 
    align-items: center;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }

#signature {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
    align-self: center;
    padding: 20px;
}
#signature div{ 
    flex-direction: row;
    display: flex;
    justify-content: center;
    color: #2c85da;
}
#signature h2 {
    align-self: center;
    color: #051d1d;
}

#signature .item {
    border: 1px black solid;
    padding: 15px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    flex-direction: column;

}
#signature img {
    height: 50px;
    width: 50px;
}
#signature div {
    font-size: 17px;
}
  