*{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
}
#paymentForm {
    display: flex;
    position: fixed;
    overflow: hidden;
    height: 400px;
    width: 800px;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    flex-direction: column;
    background-color: white;
    padding: 9px;
}

#paymentForm h3{
    color: black;
    margin-bottom: 5px;
    padding: 5px;
}
#header {
    background-color: #dbdbdb;
    font-size: 16px;
    height: 110px;
}
.section{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.section div{
    display: flex;
}
.name-product {
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.item {
    justify-content: space-around;
    display: flex;
    width: 60%;
    height: 100%;
}
.item span,.item div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
    font-size: 16px;
}
.item div {
    flex-direction: column;
    align-items: center;
}
#name {
    font-size: 18px;
    color: #34817a;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 5px;
}
#price {
    font-size: 18px;
    color: #b62c2c;
}
#price-real{
    font-size: 17px;
    text-decoration:line-through;
}
#total {
    color: red;
    font-size: 18px;
}
#products {
    overflow-y:scroll;
    border-bottom: black 0.8px solid;
}
#products::-webkit-scrollbar {
    width: 5px;
}
.product{
    overflow: hidden;
    height: 55px;
    border-bottom: #78b3c2 1px dashed;
}
img {
    height: 81px;
    width: 65px;
}
.total {
    display: flex;
    justify-content: right;
    padding: 10px;
    align-items: center;
}
.total span {
    font-size: 20px;
    padding-right: 15px;
    color: #565252;
}
.total div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.total div span{
    color: red;
    font-size: 20px;
}
#valueReal {
    color: #565252;
    text-decoration:line-through;
    font-size: 16px
}
.buttons{
    display: flex;
    padding-right: 20px;
    justify-content: right;
}
button {
    height: 36px;
    width: 136px;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    transition: all 0.8s ease;
    margin: 5px;
}
#btnExit {
    color: black;
    background-color: white;
}
#btnPay {
    color: white;
    background-color: #00979e;
}